/* Type Styling */
h1 {
    font-family: 'Unica One', cursive;
    color: white;
    font-size: 2em;   
}

h4 {
    font-family: 'Unica One', cursive;
    font-size: 1.5em;
    background-color: blue;
    
}

p {
    font-family: 'Dosis', sans-serif;
    background-color: orange;

}

/* End of HS */

/* Navigation */
nav a {
    display: block;
    color: white;
    height: 40px;
    width: 330px;
    padding-top: 20px;
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    letter-spacing: 40%;
    
}

.guide {
    background-color: #9F9C81;
    padding: 40px;
    margin-left: -10px;
    margin-top: -20px;
    width: 280px;
    height: 100%;
    position: fixed;
    max-width: 300px;
}

/* End of Navigation */

/* Links */
a {
    text-decoration: none;  
}

nav a:hover {
    background-color: #F05949;
    width: 100%;
}

/* End of Nav */

/**/
.subfeature {
    display: inline-block;
    margin: 15px;
    width: 200px;
}

.feature {
    margin: 15px;
}

.guide {
    width: 25%;
    height: 100%;
    style: block;
}