/********************
YOUR STYLES
*******************/

/* Style LetteringJS on Header */
header h1 {
    font-family: 'Unica One', cursive;
	font-size: 3em;
	letter-spacing: .5em;
	text-align: left;
	text-transform: uppercase;
    color: black;
}

a {
    text-decoration: none;
}

h3 {
    font-family: 'Unica One', cursive;
    font-size: 1.5em;
}

nav a {
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    font-size: 1.25em;
    padding: 20px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background: grey;
    border-radius: 15%;
}



/* Gallery */
/* Note: Uses fonts from `lightgallery.min.css` */
figure {
	margin: 0; /* overrid Normalize.css */
}



/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}