h1, h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

body {
	font-family: 'Gentium Basic', serif;
	background: url("../img/crossword.png");
}

.container {
	background: yellow;
	margin: 0 auto;
	width: 1000px;
}

section {
	width: 250px;
	float:left;
}

.clearfix {
	clear: both;
}