/*headers*/
h1, h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 3.5em;
	color: #FF5959;
	margin-left: 37px;
}

h2 {
	color: #A9E9E9;
}



body {
	font-family: 'Gentium Basic', serif;
	background: url("../img/crossword.png");
	color: #5B5B5B;
}

/* NAV */
nav li {
	list-style: none;
}

nav a {
	float: left;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #5B5B5B;
	text-align: left;
	margin-right: 40px;
	padding: 10px 10px;
}

a:hover {
	background-color: #5B5B5B;
	color: #FFF;
}


/* columns */

#main {
	float: left;
	height: 250px;
	margin: 20px 20px;
	max-width: 100%;
	padding: 50px 50px;
	text-align: center;
}

section {
	float: left;
	height: 250px;
	margin: 12px 12px;
	padding: 12px 12px;
	max-width: 33%;
	height: 300px;

}


ul {
	list-style: none;
}



/* FOOTER */
footer {
	float: left;
	margin-top: 100px;
} 


.wrapper {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 5% ;
}

.clearfix {
	clear: both;
}


/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}