/*headers*/
header {

	width: 100%;
	text-align: center;
}

h1, h2 {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 3.5em;
	color: #FF5959;
}

h2 {
	color: #A9E9E9;
}


body {
	font-family: 'Gentium Basic', serif;
	background: url("../img/lightwool.png");
	color: #5B5B5B;
}

/* NAV */
nav {
	display: inline-block;
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #5B5B5B;
}

a:hover {
	background-color: #5B5B5B;
	color: #FFF;
}


/* columns */

section {
	background: pink;
	padding: 40px;
	margin: 10px;
	float: left;
	width: 220px;
}

.wide {
	width: 50%;
}

ul {
	list-style: none;
}

#me {
	width: 40%;
	float: left;
}


/* FOOTER */

.clearfix {
	clear: both;
}

.wrapper {
	text-align: center;
	margin: 0 auto;

	max-width: 90%;
}






