
/*BODY*/

body {
	background: url("../img/lightwool.png");
	font-family: 'Gentium Basic', serif;
	font-size: .95em;
}

div {
	float: left;
	margin: 40px 40px;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 5%;
}
/*END of BODY*/

/*HEADERS*/
h3 {
	text-align: left;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #FF5959;
	font-size: 4em;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 5px;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	color: #A9E9E9;
	text-transform: uppercase;
	bottom-margin: 5px;
}
/*END of HEADERS*/


/* NAV */

nav li {
	list-style: none;
}

nav a {
	display: inline-block;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #5B5B5B;
	text-align: left;
	margin-right: 40px;
	padding: 10px 10px;
}

nav {
	display: inline-block;
	width: 1000px;
	text-align: left;
	margin: 40px 40px 40px -50px;
}

a:hover {
	background-color: #5B5B5B;
	color: #FFF;

}

/* END of NAV*/


/*STYLE TILE*/

/* style samples */
.color-1, 
.color-2, 
.color-3, 
.pattern-1, 
.pattern-2, 
.pattern-3 {

margin: 20px 20px;
height: 100px;
width: 100px;
border-radius: 100%;
float: left;
box-shadow: 0 15px 20px -12px rgba(0,0,0, .8);
}

.color-1 {
	background-color: #FF5959;
}

.color-2 {
	background-color: #A9E9E9;
}

.color-3 {
	background-color: #5B5B5B;
}

.pattern-1 {
	background: url("../img/lightwool.png");
}

.pattern-2 {
	background: url("../img/crossword.png");
}

.pattern-3 {
	background: url("../img/sos.png");
}

#tile {
background: #F5F5F5;
 }


/*END of STYLE TILE*/

/*HOME*/
#me {
	float: left;
	border-radius: 20%;
	max-width: 40%;
	top-margin: 40px;
	box-shadow: 0 15px 20px -12px rgba(0,0,0, .8)

}

#home div {
	float: left;
	max-width: 25%;
	margin: -5px 30px;
	top-margin: 5px;
	list-style-type: none;
}

#home section {
	margin: 60px auto;
	padding: 25px 25px;
}

#about {
	text-align: right;
}

#about h2 {
	text-align: left;
}

#home li {
	list-style-type: none;
}

/*END of HOME*/

/*PORTFOLIO*/

/*==============================*/
/* Positioning					*/
/*==============================*/

/* Position Headers & Paragraph w/in Figure */
/*parent*/

.gallery figure {
	position: relative;
}

/*child*/
.gallery img {
	position:absolute;
	top: 0px;
	height: 300px;
	width: 400px;
	border-radius: 10px;
}

.gallery h3 {
	position: absolute;
	top: 4px;
	left: -25px;
	z-index: 1;
}

/* 
	- Hover Over Figure (any part), Caption Appears 
	- Transition Caption, `p` transitions in .5 seconds
*/

/*child 2*/
.gallery figure h3 {
	position: absolute;
	top: -32.4px;
	left: -10px;
	opacity: 100;
	font-size: 1.5em;
	letter-spacing: 4px;
	height: 310px;
	width: 400px;
	border-radius: 10px;
	-webkit-transition: opacity .5s ease;
}


.gallery figure h3:hover {
		opacity: 0;
}

/* RAH! i need to have the figure, not the paragraph activate the transition......*/

/*==============================*/
/* DO NOT EDIT BELOW THIS LINE */
/*==============================*/
.container {
	margin: 0 auto;
	width: 80%;
}

.gallery body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.25em;
}

.gallery figure {
	background: #A9E9E9;
	border: 10px solid #A9E9E9;
	height: 300px;
	float: left;
	width: 400px;
	border-radius: 10px;
	box-shadow: 0 15px 20px -12px rgba(0,0,0, .2);

}

.gallery h3 {
	background: rgba(0,0,0,.6);
	padding: 5px 10px 5px 10px;
	color: #fff;
}







/*END of PORTFOLIO*/


.clearfix {
	overflow: auto;
}






