/* Layout for Style Tile
Feel free to change */
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background-color: #FF5959;
}

.color-2 {
	background-color: #A9E9E9;
}

.color-3 {
	background-color: #5B5B5B;
}

.pattern-1 {
	
}


/* Set Your Own Typography */


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}