
/* style samples */
.color-1, 
.color-2, 
.color-3, 
.pattern-1, 
.pattern-2, 
.pattern-3 {

margin: 20px 20px;
height: 100px;
width: 100px;
border-radius: 100%;
float: left;
box-shadow: 0 15px 20px -12px rgba(0,0,0, .8);


}

.color-1 {
	background-color: #FF5959;
}

.color-2 {
	background-color: #A9E9E9;
}

.color-3 {
	background-color: #5B5B5B;
}

.pattern-1 {
	background: url("../img/lightwool.png");
}

.pattern-2 {
	background: url("../img/crossword.png");
}

.pattern-3 {
	background: url("../img/sos.png");
}

body {
	background-color: #F5F5F5;
	font-family: 'Gentium Basic', serif;
	font-size: .95em;
}

h3 {
	text-align: left;
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.8em;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: #FF5959;
	font-size: 4em;
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 5px;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
	color: #A9E9E9;
	text-transform: uppercase;
	bottom-margin: 5px;
}

div {
	float: left;
	margin: 40px 40px;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 5%;
}

/* NAV */

nav li {
	list-style: none;
}

nav a {
	display: inline-block;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	color: #5B5B5B;
	text-align: left;
	margin-right: 40px;
	padding: 10px 10px;
}

nav {
	display: inline-block;
	width: 1000px;
	text-align: left;
	margin: 40px 40px 40px -50px;
}

a:hover {
	background-color: #5B5B5B;
	color: #FFF;
}



